@font-face {
  font-family: 'Jujutsu Kaisen';
  font-style: normal;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/gh/0H4S/Themes@main/Fonts/WOFF2/Jujutsu-Kaisen.woff2) format('woff2');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 100 800;
  src: url(https://cdn.jsdelivr.net/gh/0H4S/Themes@main/Fonts/WOFF2/JetBrainsMono-VariableFont_wght.woff2) format('woff2');
}
