@font-face {
  font-family: 'Kanit Regular';
  font-style: normal;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/gh/0H4S/Themes@main/Fonts/WOFF2/Kanit.woff2) format('woff2');
}

@font-face {
  font-family: 'Bangers Regular';
  font-style: normal;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/gh/0H4S/Themes@main/Fonts/WOFF2/Bangers.woff2) format('woff2');
}
