@font-face {
  font-family: 'Typewriter';
  font-style: normal;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/gh/0H4S/My-Prompt@main/Fonts/WOFF2/Typewriter.woff2) format('woff2');
}

@font-face {
  font-family: 'Typewriter Bold';
  font-style: normal;
  font-weight: 700;
  src: url(https://cdn.jsdelivr.net/gh/0H4S/My-Prompt@main/Fonts/WOFF2/Typewriter-Bold.woff2) format('woff2');
}

@font-face {
  font-family: 'Typewriter Black';
  font-style: normal;
  font-weight: 900;
  src: url(https://cdn.jsdelivr.net/gh/0H4S/My-Prompt@main/Fonts/WOFF2/Typewriter-Black.woff2) format('woff2');
}
