@font-face {
  font-family: 'Bangers Regular';
  font-style: normal;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/gh/0H4S/Themes@main/Fonts/WOFF2/Bangers.woff2) format('woff2');
}

@font-face {
  font-family: 'Exo 2 Regular';
  font-style: normal;
  font-weight: 100 900;
  src: url(https://cdn.jsdelivr.net/gh/0H4S/Themes@main/Fonts/WOFF2/Exo2.woff2) format('woff2');
}

@font-face {
  font-family: 'Fira Code Light';
  font-style: normal;
  font-weight: 300 700;
  src: url(https://cdn.jsdelivr.net/gh/0H4S/Themes@main/Fonts/WOFF2/FiraCode.woff2) format('woff2');
}

@font-face {
  font-family: 'Kanit Regular';
  font-style: normal;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/gh/0H4S/Themes@main/Fonts/WOFF2/Kanit.woff2) format('woff2');
}

@font-face {
  font-family: 'Orbitron Regular';
  font-style: normal;
  font-weight: 400 900;
  src: url(https://cdn.jsdelivr.net/gh/0H4S/Themes@main/Fonts/WOFF2/Orbitron.woff2) format('woff2');
}

@font-face {
  font-family: 'Saira Condensed Regular';
  font-style: normal;
  font-weight: 400 900;
  src: url(https://cdn.jsdelivr.net/gh/0H4S/Themes@main/Fonts/WOFF2/SairaCondensed.woff2) format('woff2');
}

@font-face {
  font-family: 'Share Tech Mono';
  font-style: normal;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/gh/0H4S/Themes@main/Fonts/WOFF2/ShareTechMono.woff2) format('woff2');
}

@font-face {
  font-family: 'Teko Light';
  font-style: normal;
  font-weight: 300 700;
  src: url(https://cdn.jsdelivr.net/gh/0H4S/Themes@main/Fonts/WOFF2/Teko.woff2) format('woff2');
}
